/* Additional CSS to style the webpage */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #121213; /* Set background color for the body */
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%; /* Full width */
    max-width: 100%; /* Ensure container is not wider than 100% */
}

.row {
    margin: 0; /* Remove margin for the row */
}

/* Remove the padding from the image column */
.no-padding {
    padding: 0 !important;
}

.text-content {
    padding: 0px; /* Add padding inside the text content box */
    color: #c4c2ce;
}

.img-fluid {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any extra space below the image */
}

/* Vertical centering for the text-content on larger screens */
@media (min-width: 768px) {
    .align-items-center {
        align-items: center;
    }
    .text-content {
        padding: 100px; /* Add padding inside the text content box */
    }
}
