body, html {
    background-color: #121213; /* Dark grey background */
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers the content */
    align-items: center; /* Horizontally centers the content */
    height: 100%; /* Take up full height of the parent */
    width: 100%; /* Take up full width of the parent */
}

.page-text {
    text-align: justify;
    width: 90%; /* Adjust as needed */
    padding-left: 100px;
    color: #000; /* Text color */
    font-size: 16px; /* Text size */
    font-family: Arial, sans-serif; /* Sets a default font */
    max-width: 100%; /* Ensures the text doesn't exceed the container width */
    color: #c4c2ce; /* Light grey text */
}

#imageColumn {
    padding: 0 !important; /* Removes padding */
    overflow: hidden; /* Prevents overflow */
}

.page-image {
    background-size: contain; /* Ensures the entire image is visible */
    background-repeat: no-repeat;
    background-position: center center;
}
